.content {
    margin: 35px 0px 0px 0px;
    width: calc(100% - 98px);
    left: 88px;
    position: absolute !important;
    padding-top: 11px;
  }

  .content1{
    margin: 35px 0px 0px 0px;
    width: calc(100% - 98px);
    left: 88px;
    position: absolute !important;
    padding-top: 11px;
  }

  #orangeunderline{
    font-size: 16px;
    text-decoration: underline 2px;     
    text-decoration-color: #002d73;  
    text-decoration-style: solid;
    text-underline-position: under;
    
    display: table-header-group;
  }

  .cardview2{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 30px 80px rgba(0, 0, 0, 0.0666666667);
    border-radius: 5px;
    margin-bottom: 10px;
    min-height: 418px;
    max-height:  418px;
    // margin: 35px 0px 0px 0px;
    width: calc(100% - 0px);
    left: 88px;
    position: sticky;
    }

    #savecancelbtn{


        .btn-outline-primary {
          color: #002D73;
          border-color: #002D73;
          padding: 5px 43px;
        }
        
        .btn-outline-primary:hover {
          color: #fff;
          background-color: #002D73;
          border-color: #002D73;
        }
        
        .btn_save {
          background-color: #002D73;
          cursor: pointer;
          text-align: center;
          padding: 5px 45px;
          color: #fff;
          margin-left: 15px;
        }
        
        .btn_dev{
          text-align: end;
        padding-right: 55px;
        padding-top: 25px;
      
        }
      
        
        .fieldname{
          font-weight: bold;
        }
      
        .labelrow{
          border-radius: 15px;
          padding: 19px 16px 8px;
          border: 1px solid #b4a9a9;
        }
        .show{
          display:none;
      
        }
        
      }

.cmtrow{
    padding: 13px;
    border-bottom: 1px solid #ddd;
}

.bckcmtrply{
  background: #dfe4ed;
  border-radius: 22px;
  padding: 10px 26px;
  margin-bottom: 10px;
 // border-bottom: 1px solid #ddd;
}

.bckcmt{
    background: #dfe4ed;
  border-radius: 22px;
  padding: 12px 26px;
}

.scrollcontainer {
    margin-top: 1px;
    max-height: 56.5vh;
    min-height: 38.5vh;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-color: var(--main-color) grey;
    scrollbar-width: thin;
  }

  .date{
    font-size: 13px;
  color: gray;
}
  
.status{
  color: #002d73;
  font-size: 14px;
}