.content {
    margin: 35px 0px 0px 0px;
    width: calc(100% - 98px);
    left: 88px;
    position: absolute !important;
    padding-top: 11px;
  }

  .matcss{
    min-height: 100px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  color: #514e4ede;

  }

  .rowbordercsss{
    border: 1px solid #ddd;
    padding: 17px 17px 17px 17px;
  margin: 0px;
  border-radius: 10px;
  }


  #orangeunderline{
    font-size: 16px;
    text-decoration: underline 2px;     
    text-decoration-color: #002d73;  
    text-decoration-style: solid;
    text-underline-position: under;
    
    display: table-header-group;
  }

  .details{
    min-height: 500px;
  padding: 15px;
}

.titlekey{
    font-size: 14px;
  color: #002d73;
  font-weight: bold;
  margin-bottom: 4px;
}

.colorfordeta{
    color: gray;
}


.newclass011{
  border: 3px solid #002d73;
}

.newclass02{
  border: 3px solid #002d73;
}

.newclass03{
  border: 3px solid #002d73;
}


.newclass04{
  border: 3px solid #002d73;
}