.sidenav {
    background: transparent linear-gradient(168deg, #fff 0%,#fff 100%) 0% 0% no-repeat padding-box;
    transition: all .5s ease;
    position: fixed;
    z-index: 1;
    top: 0;
    width: 5rem;
    height: 100vh;
    // box-shadow: 0.063rem 0 1.25rem 0 #8690a3;
    box-shadow: 0.063rem 0 1.25rem 0 rgba(134, 144, 163, 0.2);
    overflow-x: hidden;
    overflow-y: auto;

    .logo-container {
        display: flex;
        align-items: center;
        padding-left:5px;
        width: 98%;
        height:61px;
        justify-content: center;

        .logo {
            background: #707070;
            text-align: center;
            width: 3rem;
            min-width: 3rem;
            border-radius: 0.313rem;
            padding: 0.313rem;
            font-size: 24px;
            font-weight: 900;
            cursor: pointer;
            border: none;
        }

        .logo-text {
            margin-left: 8px;
            font-size: 21px;
            font-weight: 700;
            color: #002D73;
        }

        .btn-close {
            margin-left: auto;
            cursor: pointer;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background-color: transparent;
            border: none;

            .fa-times {
                color: #707070;
                font-size: 24px;
            }
        }
    }
}

.sidenav-collapsed {
    width: 13.5625rem;
}

.sidenav-nav {
    list-style: none;
    padding: 0.938rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(81% - 3.65rem);
    cursor: pointer;

    .sidenav-nav-item {
        width: 100%;
        margin-bottom: 0.625rem;
         
        .sidenav-nav-link {
            display: flex;
            align-items: center;
            height: 42px;
            color: #707070;
            text-decoration: none;
            border-radius: 0.625rem;
            transition: all .3s ease;

            .sidenav-link-icon {
                font-size: 22px;
                width: 2rem;
                min-width: 2rem;
                margin: 0 0.5rem;
                text-align: center;
            }

            // .sidenav-link-text {
            //     // margin-left: 2.5rem;
            // }
        }
    }

    .sidenav-nav-item:hover {
        .sidenav-nav-link {
            background: transparent linear-gradient(105deg, #f5f5f5 0%, #f5f5f5 100%) 0% 0% no-repeat padding-box;
            color: #707070;
        }
    }
}

.active {
    // background: transparent linear-gradient(105deg, #707070 0%, #fff 100%) 0% 0% no-repeat padding-box;
    box-shadow: #00000029 0px 3px 23px;
    .sidenav-link-icon,
    .sidenav-link-text {
        color: #002D73;
        font-weight: 500;
    }
}


.activeicon{
    color: #002D73;
    font-size: 26px;
}
.labeldiv{
    align-items: center;
    display: flex;
    padding-left: 16px;
    color: #9ca6b5;
}

::ng-deep.fa-remove::before, .fa-close::before, .fa-times::before {
    content: "";
  }
// img {
//     border-radius: 50%;
//   }

.messernamelogo{
    width: 28px;
  margin-bottom: 19px;
  margin-left: -7px;
}
::-webkit-scrollbar {
    width: 6px;
    height:auto; 
  }
  
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
  
  ::-webkit-scrollbar-thumb {
    background: #1a4386; 
    border-radius: 8px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1a4386; 
    border-radius: 8px;
  }
  

  .unactiveicon{
    color: #9ca6b5;
  }